<div class="profile-head">
    <h2>Profiel</h2>
    <strong>Naam:</strong> {{user.user_name}}<br />
    <strong>E-mail:</strong> {{user.email}}<br />
    <strong>Verjaardag:</strong> {{profile.birthday | date:'yyyy-MM-dd'}}<br />
    <strong>Interesses:</strong> {{interests()}}<br />
    <strong>Over mij:</strong> {{profile.about}}<br />
    <button class="btn btn-success" ng-click="edit()">Profiel bewerken</button> <button class="btn btn-danger" ng-click="disable()">Account verwijderen</button><br />
</div>
<div id="news" when-scrolled="nextPage()">
<div ng-repeat="group in groups" class="profile-group">
    <a href="/groups/{{group.id}}"><strong>{{group.name}}</strong></a>
    <div ng-repeat="board in group.boards"><a href="/boards/{{board.id}}">{{board.title}}</a>
        <ul>
            <li ng-repeat="message in board.messages" class="profile-message">{{message.title}}</li>
        </ul>
    </div>
</div>
</div>
