<ul class="breadcrumb">
    <li><a href="/#/groups">Groepen</a></li>
    <li><a href="/#/groups/{{group.id}}">{{group.name}}</a></li>
</ul>

<div class="group-title">
    <strong>Groep: {{group.name}}</strong><br />
    <div>{{group.description}}</div>
</div>
<ul class="group-index">
    <li ng-repeat="note in group.notes" class="group-note">
        <h3>{{note.title}}</h3>
        <div class="content">
            <markdown ng-model="note.contents"></markdown>
        </div>
    </li>
    <li class="group-boards-header">
        <h4>Onderwerpen binnen deze groep:</h4>
    </li>
    <li ng-repeat="board in boards" class="group-topic"><a href="/boards/{{board.id}}">{{board.title}}</a></li>
</ul>

<div class="group-buttons">
    <button ng-click="addBoard()" ng-show="isLoggedIn().isLoggedIn" class="btn btn-default">Voeg prikbord toe</button>
    <button ng-click="admin()" ng-show="isLoggedIn().isGroupAdmin" class="btn btn-default">Groepsbeheer</button>
</div>

<div ng-show="isLoggedIn().isGroupAdmin">
    <div class="well">
    <form ng-controller="GroupDetailCtrl">
        <p>
            <label>Titel</label><input ng-model="note.title"><br />
            <label>Bericht</label><textarea ng-model="note.contents" rows="4" cols="80"></textarea><br />
        </p>
        <button class="btn btn-default" ng-click="addNote(note)">Aankondiging toevoegen</button>
    </form>
    <a ng-href="/markdown/help">Markdown help</a><br />
    <strong>Voorbeeld</strong>
        <div class="content">
        <markdown ng-model="note.contents"></markdown>
    </div>
    </div>
</div>
