<form ng-submit="addGroup()">
    <label>Groepnaam</label><input ng-model="group.name"><br />
    <label>Zichtbaarheid</label><select ng-model="group.visibility">
        <option ng-repeat="option in options" value="{{option.value}}" ng-selected="option.value == myChoice">{{option.name}}</option>
    </select><br />
    <label>Omschrijving</label><textarea ng-model="group.description"></textarea><br />
    <button class="btn btn-default">Groep toevoegen</button>
</form>
<pre ng-bind="group | json"></pre>
