<ul class="breadcrumb">
    <li ng-repeat="breadcrumb in breadcrumbs">
        <a href="/#{{breadcrumb.path}}">{{breadcrumb.name}}</a>
    </li>
</ul>

<div class="board-title">
    <h4><span class="fa fa-comment">&nbsp;&nbsp;</span>Onderwerp: {{board.title}}</h4>
</div>
<div class="board-index">
    <div ng-repeat="message in messages" class="board-message">
        <p>
            <strong>{{message.title}}</strong><br />
            <div class="content">
                <markdown ng-model="message.contents"></markdown>
            </div>
            <div class="board-message-user">{{message.post_user.user_name}} - {{message.created_at | date:'yyyy-MM-dd HH:mm:ss'}}</div>
        </p>
    </div>
</div>
<br />
<div ng-show="permissions.loggedin">
    <form ng-submit="addMessage()">
        <p>
        <label>Titel</label><input ng-model="message.title">
        </p>
        <label>Bericht</label><textarea ng-model="message.contents" rows="4" cols="80"></textarea><br />
        <button class="btn btn-default">Reageer</button>
    </form>

    <a ng-href="/markdown/help">Markdown help</a><br />
    <strong>Voorbeeld</strong>
    <div class="content">
        <markdown ng-model="message.contents"></markdown>
    </div>
</div>
