html{
    height: 100%;
}
body{
    height: 100%;
    padding-top: 60px;
}
.container{
    height: 100%;
}
.nav li{
    display: inline;
}
label{
    width:120px;
    float: left;
}
.group-title{
    height:60px;
    background: #008cba;
    color:#FFF;
    padding:10px 0 10px 10px;
}
.group-index{
    padding: 0;
    margin: 0;
}
.group-topic{
    list-style: none;
    background: #FFF;
    padding:10px 0 10px 10px;
    border-bottom:1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}
.group-note{
    list-style: none;
    background: #eeeeee;
    padding:10px 0 10px 10px;
    border-bottom: 1px solid #004165;
    border-left: 1px solid #004165;
    border-right: 1px solid #004165;
}
.board-title{
    height:30px;
    background: #004165;
    color:#FFF;
    padding:10px 0 10px 10px;
}
.board-index{
    padding: 0;
    margin: 0;
}
.board-message{
    list-style: none;
    background: #bbbbbb;
    padding:10px 0 10px 10px;
    border-bottom: 1px solid #004165;
    border-left: 1px solid #004165;
    border-right: 1px solid #004165;
}
.profile-group{
    width:280px;
    height:180px;
    float:left;
    padding-left: 5px;
    padding-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    background: #cccccc;
}
.profile-message{
    list-style: none;
}
.group{
    width:200px;
    height:200px;
    float:left;
    margin-left: 10px;
    margin-bottom: 10px;
}
#group{
    height: inherit;
    width:800px;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}
#news{
    height: 500px;
    width:1100px;
    display: block;
    overflow: auto;
}
.select{
    width:150px;
}
