html{
    height: 100%;
}
body{
    height: 100%;
    padding-top: 60px;
}
h4 {
    font-size: 18px;
}
label {
    float: left;
    font-size: 16px;
    margin: 15px 10px 0 0;
    min-width: 150px;
}
input,
textarea {
    margin: 10px 0;
}
.btn {
    padding: 10px 24px;
}
.container{
    height: 100%;
}
.navbar-default .navbar-nav {
    font-size: 14px;
}
.navbar .dropdown-menu > li > a,
.navbar .dropdown-menu > li > a:focus {
    font-size: 14px;
}
.nav li{
    display: inline;
}
.breadcrumb {
    white-space: nowrap;
    font-weight: bold;
}
.breadcrumb li,
.breadcrumb li a {
    box-sizing: inherit;
    -webkit-box-sizing: inherit;
}
.group-title {
    background: #008cba;
    color:#FFF;
    padding:5px 0 10px 10px;
    margin-bottom: 15px;
}
.group-index {
    padding: 0;
    margin: 0 0 60px 0;
}
#group .group-index {
    margin: 10px 0 0 0;
}
#group .panel-heading.member {
    border-color: #fff;
    border-style: dotted;
    border-width: 1px;
}
#group .panel-heading.member span.member-mark {
    float: right;
}
#group .panel-heading.member h3 {
    margin-right: 15px;
}
.group-img-preview{
    margin-left: 10px;
}
.group-topic {
    list-style: none;
    background: #fff;
    padding:10px 0 10px 10px;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom:1px solid #dddddd;
}
.group-topic.active {
    list-style: none;
    background: #fff;
    padding:10px 0 10px 10px;
    border-top:1px solid #dddddd;
}
.group-note {
    list-style: none;
    background: #eeeeee;
    margin-top: 15px;
    margin-bottom: 15px;
    padding:10px 0 10px 10px;
}
.group-tweet {
    list-style: none;
    background: #eeeeee;
    margin-top: 15px;
    margin-bottom: 15px;
    padding:10px 0 10px 10px;
}
.group-boards-header {
    list-style: none;
    background: #fff;
    margin-top: 15px;
    padding:10px 10 10px 0;
}
.group-buttons {
    text-align: right;
    margin: 20px 0;
}
.board-index{
    height: inherit;
    padding: 0;
    margin: 0;
    overflow: auto;
}
.board-title {
    height:60px;
    background: #008cba;
    color:#FFF;
    padding:10px 0 10px 10px;
}
.board-message{
    list-style: none;
    background: #eeeeee;
    padding:10px 0 10px 10px;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}


.profile-group {
    width:700px;
    padding-left: 5px;
    padding-top: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.profile-head {
    margin-bottom: 10px;
}
.profile-group .board-container {
    width: 100%;
    overflow: hidden;
    padding: 5px 0;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}
.profile-group .board-container.active{
    width: 100%;
    overflow: hidden;
    padding: 5px 0;
    border: 1px solid #dddddd;
}
.profile-group .board-container a {
    float: right;
    width: 150px;
}
.profile-group .board-container ul {
    float: left;
    width: 534px;
    padding: 0;
    margin: 0;
}
.profile-message {
    list-style: none;
    background: #fff;
    padding:10px 0 10px 10px;
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}
.profile-message.active {
    list-style: none;
    background: #fff;
    padding:10px 0 10px 10px;
    border-top: 0;
}
.profile-message span.user,
.profile-message span.date {
    font-size: 12px;
    margin-right: 10px;
}
#news .panel-title > a {
    color: #008cba;
}


.group{
    width:300px;
    height:220px;
    float:left;
    margin-left: 10px;
    margin-bottom: 10px;
}
.group .goto {
    text-align: right;
    padding-top: 10px;
}
#group{
    height: inherit;
    width:960px;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: -10px;
}
#news{
    height: inherit;
    width:960px;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: -10px;
}
.select{
    width:150px;
}
