<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On

    # force ssl
    #RewriteCond     %{SERVER_PORT} ^80$
    #RewriteRule     ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R]

    #redirect to test app
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{HTTP_HOST} ^testapi\. [NC]
    RewriteRule ^ /test.php [L]

    # redirect all remaining to silex app
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>